@page
@model Module2Challenge.Pages.IndexModel
@{
    ViewData["Title"] = "MPG Calculator";
}


<h1>MPG Calculator</h1>
<p>Find out your Miles Per Gallon</p>

<form method="post">
    <label for="MilesDriven">Number Of Miles Driven:</label>
    <input type="number" id="MilesDriven" name="MilesDriven" required min="1" />

    <label for="GallonsUsed">Number Of Gallons Used:</label>
    <input type="number" id="GallonsUsed" name="GallonsUsed" required min="1" />

    <button type="submit">Calculate MPG</button>
</form>

@if (Model.ShowResult)
{
    <h3>Your MPG is: @Model.MPG</h3>
}

